<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>125395294606-0osud8kskn7di8m97qtnhvae7eoia0kb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.125395294606-0osud8kskn7di8m97qtnhvae7eoia0kb</string>
	<key>API_KEY</key>
	<string>AIzaSyBRjg7vvs1JH8Zh1oeWXaUtS2JpiPRl8sM</string>
	<key>GCM_SENDER_ID</key>
	<string>125395294606</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>zorro.MyChat</string>
	<key>PROJECT_ID</key>
	<string>mychat-4ba3e</string>
	<key>STORAGE_BUCKET</key>
	<string>mychat-4ba3e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:125395294606:ios:6178ea4001dde1eeec6cdf</string>
</dict>
</plist>